<%# TODO move the logout button to a navbar partial %>
<h1>Welcome <%= @user.name %>!</h1>
<%= link_to 'Log Out' %>

<%= link_to 'Discover Movies', discover_path %>
<div id='friends' >
  <%= form_with url: friendships_path, method: :post, local: true do |form| %>
    <%= form.label :friends_email %>
    <%= form.text_field :friends_email %>
    <%= form.submit 'Add Friend' %>
  <% end %>
  <h3>Your Friends</h3>
  <% if @user.friends.empty? %>
    <p>You currently have no friends.</p>
  <% else %>
    <% @user.friends.each do |friend| %>
      <%= friend.name %>
    <% end %>
  <% end %>
</div>
<div id="parties">
  <h3>Your Viewing Parties</h3>
  <div id="attending">
    <h4>Attending:</h4>
    <% @user.invited_parties.each do |party| %>
      <%= link_to "#{party.movie_title}", "/movies/show/#{party.movie_id}" %>
      <p> Hosted by: <%= party.host.name %> </p>
      <p> Start time: <%= party.date %> at <%= party.start_time %> </p>
      <p> Guests: </p>
      <% party.invitees.each do |invitee| %>
        <%= invitee.name %>
      <% end %>
    <% end %>
  </div>
  <div id="hosting">
    <h4>Hosting:</h4>
    <% @user.hosted_parties.each do |party| %>
      <%= link_to "#{party.movie_title}", "/movies/show/#{party.movie_id}" %>
      <p> Start time: <%= party.date %> at <%= party.start_time %> </p>
      <p> Guests: </p>
      <% party.invitees.each do |invitee| %>
        <%= invitee.name %>
      <% end %>
    <% end %>
  </div>
</div>

<!-- TODO make user's name bold in attending guests section -->
