<%# TODO move the logout button to a navbar partial %>
<h1>Welcome <%= @user.name %>!</h1>
<%= link_to 'Log Out' %>

<%= link_to 'Discover Movies', discover_path %>
<div id='friends' >
  <%= form_with url: friendships_path, method: :post, local: true do |form| %>
    <%= form.label :friends_email %>
    <%= form.text_field :friends_email %>
    <%= form.submit 'Add Friend' %>
  <% end %>
  <h3>Your Friends</h3>
  <% if @user.friends.empty? %>
    <p>You currently have no friends.</p>
  <% else %>
    <% @user.friends.each do |friend| %>
      <%= friend.name %>
    <% end %>
  <% end %>
</div>
<div id="parties">
  <h3>Your Viewing Parties</h3>
  <div id="attending">
    <% @user.parties.each do |party| %>
      <%= party.movie_title %>
      <%= party.date %>
      <%= party.start %>
      <p>Host: <%= party.host %></p>
      <p>Guests:</p>
      <% party.invitees.each do |invitee| %>
        <%= invitee.name %>
      <% end %>
  </div>
</div>

<!-- TODO make user's name bold in attending guests section -->
