<%# TODO move the logout button to a navbar partial %>
<h1>Welcome <%= @user.name %>!</h1>
<%= link_to 'Log Out' %>

<%= link_to 'Discover Movies', discover_path %>
<div id='friends' >
  <%= form_with url: friendship_path, method: :post, local: true do |form| %>
    <%= form.lable :friend_email %>
    <%= form.text_field :friend_email %>
    <%= form.submit 'Add Friend' %>
  <% end %>
  <h3>Your Friends</h3>
  <% if @user.friends.empty? %>
    <p>You currently have no friends.</p>
  <% else %>
    <% @user.friends.each do |friend| %>
      <%= friend.name %>
    <% end %>
  <% end %>
</div>
<h3>Your Viewing Parties</h3>
