<h1>Discover Movies</h1>

<%= button_to 'Find Top Rated Movies', movies_index_path, method: :get %>
<%# TODO could potentially do this as a link and style it as a button with css %>

<%= form_with url: movies_index_path, method: :get, local: true do |form| %>
  <%= form.label :movie_title %>
  <%= form.text_field :movie_title %>
  <%= form.submit 'Search Movies' %>
<% end %>

<% if @top40.present? %>
<div id="top40">
  <% @top40.each do |movie| %>
    <div class="result">
      <li><%= link_to "#{movie.title}", movies_show_path(movie.id), method: :get %> Vote Average: <%= movie.vote_average %></li>
    </div>
  <% end %>
</div>

<% elsif @search_results.present? %>
  <h3>Results for <%= params[:movie_title].titleize %>:</h3>
  <div id='results'>
  <% @search_results.each do |movie| %>
    <%= link_to movie.title, movies_show_path(movie.id) %>
    <p>Vote Average: <%= movie.vote_average %></p>
  <% end %>
  </div>
<% elsif !@search_results.present? && !@top40.present? %>
  <h3>Sorry, no results matched the movie title you searched.</h3>
<% end %>
