<h1><%= @welcome_message %></h1>
<h4><%= @register_message %></h4>
<%= form_with model: @user, url: registration_path, method: :post, local: true do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <%= f.label :password_confirmation, 'Password Confirmation' %>
  <%= f.text_field :password_confirmation %>
  <%= f.submit 'Register' %>
<% end %>
